@import url(https://fonts.googleapis.com/css27family-Chakara+Petch:wght@400;700&display=sмар);
:root{
--cor-de-fundo:#1E1E1E;
--verde:#6FFF5F; 
--branco:#FFFFFF;
--botan-ativo:#5A375E;
--botan-inativo:rgba(58,55,94,0.5);
--texto-de-fundo:rgba( 58,55,94,0.3);
}
body{
background-color: var(-cor-de-fundo);
color: var(branco);
font-family: Chakara, Petch, sans-serif
}
conteudo-principal{
display: flex; 
flex-direction: column;
Justify-content: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
titulo-priciраї{
 text-align: left;
width: 100%
font-size 32px
}
.titulo-pricipal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
    .titulo-pricipal span {
     color: var(--verde);   
    }
    .botao.ativo{
     font-family: "chakara petch",sans-serif;
    background-color: var(-botao-inativo);
    display: flex;
    Justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;    
    }
    .botoes {
    display: block;
    }
     @media screen and (min-width: 768px) {
    botoes{
     display: flex;
    }
    }
    .botao:first-child{
border-radius: 40px 0 0 0;
}
batao:last-child{
border-radius: 0 40px 0 0;
}
.ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var(--verde);
}
abas-textos {
background-color: var(--texto-fundo);
padding: 40px;
border-radius: 8 0 40px 40px;
}
.abas-conteudo.ativo{
    display:block;
}
aba-conteudo{
display:none;
}
aba-conteudo-titulo-principal{
font-size:28px;
text-align: center;
}
.aba-conteudo-titulo-secundario{
text-align:center;
color:var(--verde);
text-transform: uppercase;
}

.abas-textos{
    background-color: var(--texto-de-fundo);
    }
    .botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(verde);
}
    aba-conteudo.ativo{ 
    display:block;
    }    
    aba-conteudo{
    display:none;
    }
